{% extends 'problems/templates/base.html' %}
{% block title %}new problem{% endblock %}
{% block content %}

<script>
  $(document).ready(function() {
    $('.date').datepicker({'dateFormat':'yy-mm-dd'});
    $('#problem_fullname').autocomplete({
      serviceUrl: 'codelookup',
      minChars: 2,
      onSelect: function(value, data) {
        $('#problem_code').val(data.code);
      }
    })
  });
</script>

<h2>New Problem &nbsp;&nbsp;<span style="font-size:0.7em; font-weight: normal; text-transform: uppercase">[<a href="./">Cancel</a>]</span></h2>

  <form method="post" action="">{% csrf_token %}
    <table class="light form">
      <col style="width: 20%"></col>
      <col style="width: 80%"></col>
      <tr>
        <td>Problem Title</td>
        <td>
          <input type="text" name="code_fullname" id="problem_fullname" />
        </td>
      </tr>

      <tr>
        <td>Problem Code</td>
        <td>
          <input type="text" name="code" value="" id="problem_code" />
        </td>
      </tr>

      <tr>
        <td>Onset</td>
        <td><input type="text" name="date_onset" class="date" /></td>
      </tr>

      <tr>
        <td>Resolution</td>
        <td><input type="text" name="date_resolution" class="date" /></td>
      </tr>

      <tr>
        <td>Notes</td>
        <td><textarea name="comments" cols="50" rows="3" wrap="soft"></textarea></td>
      </tr>

      <tr>
        <td></td>
        <td><input type="submit" value="Add New Problem" /></td>
      </tr>
    </table>
  </form>

{% endblock %}
